testWCF/Service References/CustomerAccessWS/IndividualClientWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.clarica.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IndividualClientWS" targetNamespace="http://www.clarica.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://localhost:35577/IndividualClientWS.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.clarica.com/Imports">
      <xsd:import schemaLocation="http://localhost:35577/IndividualClientWS.svc?xsd=xsd0" namespace="http://www.clarica.com" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIndividualClientWS_InitializeCA_InputMessage">
    <wsdl:part name="parameters" element="tns:InitializeCA" />
  </wsdl:message>
  <wsdl:message name="IIndividualClientWS_InitializeCA_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeCAResponse" />
  </wsdl:message>
  <wsdl:message name="IIndividualClientWS_GetDataWithSession_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataWithSession" />
  </wsdl:message>
  <wsdl:message name="IIndividualClientWS_GetDataWithSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataWithSessionResponse" />
  </wsdl:message>
  <wsdl:portType name="IIndividualClientWS">
    <wsdl:operation name="InitializeCA">
      <wsdl:input wsaw:Action="http://www.clarica.com/IIndividualClientWS/InitializeCA" message="tns:IIndividualClientWS_InitializeCA_InputMessage" />
      <wsdl:output wsaw:Action="http://www.clarica.com/IIndividualClientWS/InitializeCAResponse" message="tns:IIndividualClientWS_InitializeCA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataWithSession">
      <wsdl:input wsaw:Action="http://www.clarica.com/IIndividualClientWS/GetDataWithSession" message="tns:IIndividualClientWS_GetDataWithSession_InputMessage" />
      <wsdl:output wsaw:Action="http://www.clarica.com/IIndividualClientWS/GetDataWithSessionResponse" message="tns:IIndividualClientWS_GetDataWithSession_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="IndividualClientWS">
    <wsdl:port name="BasicHttpBinding_IIndividualClientWS" binding="i0:BasicHttpBinding_IIndividualClientWS">
      <soap:address location="http://localhost:35577/IndividualClientWS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>